.login{

}

.foto {
 background-image: url('https://images.unsplash.com/photo-1512025316832-8658f04f8a83?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1351&q=80');
  height:93vh;
  width:60%;
  background-size: cover;
}
