#log-in h2 {
  margin-bottom: 20px;
}

.login {
justify-content: center;
width:40%;
padding:50px;
}

.picture {
  background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url('https://www.leicashop.com/media/catalog/product/cache/2/image/9df78eab33525d08d6e5fb8d27136e95/2/3/23861_40.jpg');
  height: 93vh;
  width:70%;
  background-size: cover;
  background-position: center;
  filter: grayscale(100%);
}

input[type="checkbox"] {
  margin-left: -12px;
}

.form-check-label{
  margin-bottom: 0;
  margin-left: 3px;
  font-weight: normal;
  font-size: 10px;
}

.not-registered {
  opacity: 0.8;
  margin-bottom: 0px;
}
#log-in a {
  color: red;
}
#log-in a:hover {
  color: black;
}
