// .carousel-inner {
//   height: 80vh;
// }

.show-container {
  margin: 20px 100px;
}

.edit-link a{
font-size:14px;
color: red;
}

.loc-dets-cont {
  padding-bottom: 0px;
  padding-top: 0px;
}

.location-details {
  margin-top: 5px;
}

.loc-info {
  margin-top: 10px;
}

.loc-desc {
  margin-bottom: 20px;
}

.msg-lnk {
  justify-content: flex-end;
  font-size: 12px;
}

.msg-lnk, a:hover {
color: red;
}

.contact-owner a {
    border: 2px solid red;
    padding: 5px;
    color: red;
    border-radius: 5px;
    font-size: 12px;
    text-align: center;
}

.sss p{
  position: relative;
  left: 1000px;
}

#more-info-scam{
  display: none;
}

.contact-owner a:hover {
    border: 2px solid red;
    padding: 5px;
    color: white;
    background-color:red;
    opacity: 0.8;
}


.owner-name {
  margin-left: 10px;
  font-size: 16px;
}

.avatar-name {
  align-items: center;
  margin-bottom: 20px;
}

.avatar-owner{
  height: 60px;
  width: 60px;
  border-radius: 50%;
  position: relative;
  top: 25px;
}

.fa-comment-dots{
  color: red;
  margin-left: 10px;
}

.reviews-title-count {
  margin-bottom:30px
}

.reviews-title {
  font-size: 18px;
  margin-right: 5px;
}

.reviews-count{
  font-size: 16px;
  opacity: 0.6;
}

.date {
  font-size: 12px;
}

.user-info {
  margin-bottom: 20px;
}

.fa-star {
  margin-left: 5px;
  color: red;
  opacity: 0.7;
}


.location {
    margin-top: 30px;
}

.booking-dets{
  margin-left: 40px;
  margin-top: 30px;
  position: sticky;
  top: 0;
  font-family: "Noto Sans", "Helvetica", "sans-serif";

  p {
    font-weight: 700;
    margin-bottom:0px;
    font-size: 18px;
  }
}

.loct-price {
  font-size: 14px;
  color: black;
  font-weight: 400;
}

.form-control:disabled, .form-control[readonly] {
    background-color: #e9ecef;
    opacity: 0.7;
    width: 100%;
    font-size: 12px;

  }

.price-top {
  font-family: "Noto Sans", "Helvetica", "sans-serif";
  font-size: 14px;
  margin-bottom: 25px;
}

.price-top, strong {
  margin-right: 3px;
}

.payment-dets {
  margin-bottom: 20px;
  margin-top: 40px;
  font-size: 12px;
  font-weight: 400;
  p {
    font-size: 14px;
  }
}

#tot-price-days {
  font-weight: 100;
  color: grey;
  display: none;
}

.tp-container {
  margin-top: 15px;
}

.tp {
  font-weight: 700;
  font-size:12px;
}

.price-container {
  float: right;
  font-size: 14px;
}

.btn-booking {
  margin-top: 20px;
  margin-bottom: 20px;
}

.grid-inner {
  display: grid;
  grid-template-columns: repeat(4, 25vw);
  grid-template-rows: repeat(2, 200px);
  grid-auto-flow: dense;
  background-color: lightgrey;
  cursor: pointer !important;
  border-top: 1.5px solid black;
  border-left: 1.5px solid black;
  }

  .grid-inner > div {
  // padding: 15px;
  // text-align: center;
  border-bottom: 1.5px solid black;
  border-right: 1.5px solid black;
  }


.first-pic  {
  grid-row: span 2;
  grid-column: span 2;
}

.fist-pic:hover {
  background-size: 350px; /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}




.grid-item{
  background-size: cover;
  background-repeat: no-repeat;
}

// .grid-item:hover {
  // transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
// }

.carousel-item img {
  height:500px;
  object-fit: cover;
}

.carousel-popup {
  display: none;
  position: absolute;
  width: 100vw;
  height: 100%;
  top: 0px;
  left: 0px;
  padding-top: 100px;
  background-color: rgba(0, 0, 0, 0.9)
}

.popup-close{
  font-size: 32px;
  position: absolute;
  top: 50px;
  right: 50px;
  color: lightgrey;
  cursor: pointer !important;
}


