// .carousel-inner {
//   height: 80vh;
// }

.show-container {
  margin: 20px 100px;
}

.loc-dets-cont {
  padding-bottom: 0px;
  padding-top: 0px;
}

.location-details {
  margin-top: 30px;
}

.loc-info {
  margin-top: 30px;
}

.loc-desc {
  margin-bottom: 20px;
}

.msg-lnk {
  justify-content: flex-end;
  font-size: 12px;
}

.msg-lnk, a:hover {
color: red;
}

.owner-name {
  margin-left: 10px;
  font-size: 16px;
}

.avatar-name {
  align-items: center;
  margin-bottom: 20px;
}

.fa-comment-dots{
  color: red;
  margin-left: 10px;
}

.reviews-title-count {
  margin-bottom:30px
}

.reviews-title {
  font-size: 18px;
  margin-right: 5px;
}

.reviews-count{
  font-size: 16px;
  opacity: 0.6;
}

.date {
  font-size: 12px;
}

.user-info {
  margin-bottom: 20px;
}

.fa-star {
  margin-left: 5px;
  color: red;
  opacity: 0.7;
}


.location {
    margin-top: 30px;
}

.booking-dets{
  margin-left: 40px;
  margin-top: 30px;
  position: sticky;
  top: 0;
  font-family: "Noto Sans", "Helvetica", "sans-serif";
  font-size: 12px;
}

.form-control:disabled, .form-control[readonly] {
    background-color: #e9ecef;
    opacity: 0.7;
    width: 100%;
    font-size: 12px;

  }

.price-top {
  font-family: "Noto Sans", "Helvetica", "sans-serif";
  font-size: 16px;
  margin-bottom: 25px;
  margin-top: 15px;
}

.price-top, strong {
  margin-right: 3px;
}

.payment-dets {
  margin-bottom: 20px;
  margin-top: 40px;
  font-size: 14px;
  font-weight: 400;
}

.tp-container {
  margin-top: 15px;
}

.tp {
  font-weight: 700;
  font-size:12px;
}

.price-container {
  float: right;
  font-size: 14px;
}

.btn-booking {
  margin-top: 20px;
  margin-bottom: 20px;
}

.grid-inner {
  display: grid;
  grid-template-columns: repeat(4, 25vw);
  grid-template-rows: repeat(2, 250px);
  grid-auto-flow: dense;
  background-color: lightgrey;
}

.first-pic  {
  grid-row: span 2;
  grid-column: span 2;
}



.grid-item{
  background-size: cover;
  background-repeat: no-repeat;
}


.carousel-item img {
  height:500px;
  object-fit: cover;
}

.carousel-popup {
  display: none;
  position: absolute;
  width: 100vw;
  height: 100%;
  top: 0px;
  left: 0px;
  padding-top: 100px;
  background-color: rgba(0, 0, 0, 0.8)
}

.popup-close{
  font-size: 32px;
  position: absolute;
  top: 50px;
  right: 50px

}


