<div class="container">
  <h1><%= @user.username %></h1>
  <div class="row">
    <div class="col-lg-3 border">
      <p>Avatar</p>
      <p>Avatar</p>
      <p>Avatar</p>
    </div>
    <div class="col-lg-9">
      <% location_reviews = [] %>
      <% user_reviews = [] %>
      <% re.user == re.booking.user ? location_reviews << re : user_reviews << re %>
    </div>
  </div>
</div>
