.single-card-photo {
  position: relative;
}
#cancelled {
  position: absolute;
  padding: 8px 16px;
  top: 100px;
  left: 100px;
  color: white;
  background-color: red;
  font-weight: bold;
}
#accepted-pending-paid {
  position: absolute;
  padding: 8px 16px;
  top: 100px;
  left: 100px;
  color: white;
  border: 1px solid white;
}
