<div class="container">
  <h1>Finding places</h1>

  <div class="row">
    <% @locations.each do |location| %>
      <div class="col-lg-4">
        <div class="card-trip">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        <div class="card-trip-infos">
          <div>
            <p><%= location.name %></p>
            <p><%= location.description %></p>
          </div>
          <p class="card-trip-pricing"><%= location.price %></p>
        </div>
        </div>
      </div>
    <% end %> <!-- END OF FOR EACH -->
  </div> <!-- END OF ROW -->
</div> <!-- END OF CONTAINER -->
